<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mapper.WorkMapper">

    <resultMap id="myWorkMap" type="work">
        <result property="wordId" column="work_id"/>
        <result property="processNumber" column="process_number"/>
        <result property="productId" column="process_number"/>
        <result property="deviceId" column="device_id"/>
        <result property="rating" column="rating"/>
    </resultMap>

    <select id="queryWork" resultMap="myWorkMap">
        select
        work_id,
        process_number,
        product_id,
        process_id,
        device_id,
        rating
        from work
    </select>
</mapper>